body{
	margin: 0;
	font-family: sans-serif;
	background: #222;
	color: #eee;
	text-shadow: 0 0 25px #222;
	overflow: hidden;
}

/*nav*/
#hamburger{
	position: absolute;
	z-index: 9;
	top: 40px;
	left: 100px;
	cursor: pointer;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	font-size: 2em;
}

#title{
	position: absolute;
	z-index: 8;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
}

/*menu*/
#menu{
	display: none;
	position: absolute;
	z-index: 7;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	cursor: crosshair;
}

#peeps{
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
#peeps>div{
	cursor: pointer;
	margin: 40px 0;
}
/*info*/
#info{
	font-weight: bold;
	text-align: center;
}
#info>*{
	background: rgba(0,0,0,0.2);
	padding: 10px 20px;
}
#name{
	font-size: 4em;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#type{
	text-transform: uppercase;
}
#date{
	font-style: italic;
}
#wiki{
	text-decoration: none;
	color: #eee;
}
/*media*/
#vid{
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

/*pre*/
.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}